{
  "extends": "@wuxh/eslint-config-react",
  "globals": {
    "__PREFIX_CLS__": true
  },
  "ignorePatterns": [
    "dist",
    "build"
  ],
  "rules": {
    "react/no-unknown-property": [
      "error",
      {
        "ignore": [
          "css"
        ]
      }
    ]
  }
}